apiVersion: apps/v1
kind: Deployment
metadata:
  name: learning-lab-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: learning-lab-api
  template:
    metadata:
      labels:
        app: learning-lab-api
    spec:
      imagePullSecrets:
        - name: ghcr-pull
      containers:
        - name: api
          image: ghcr.io/jesal-tailor/learning-lab-api:sha-<COMMIT_SHA>   # Image tag is immutable and tied to git commit
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: PORT
              value: "8000"
            - name: LOG_LEVEL
              value: "INFO"
          readinessProbe:
            httpGet:
              path: /ready
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10

